<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
  <!--/*@thymesVar id="animal" type="com.greenfox.vik.model.BankAccount"*/-->
  <!--/*@thymesVar id="list" type="com.greenfox.vik.controller.MoreBankAccountController"*/-->

  <span th:each="animal : ${list}">
    <table th:text="'Index: ' + ${animalStat.count} + ' Name: ' + ${animal.getName()} +
   ' Balance: ' + ${#numbers.formatDecimal(animal.getBalance(), 0, 2)} + ' Zebra' +
   ' Animal Type: ' + ${animal.getAnimalType()}"></table>
  </span>

</body>
</html>