<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
<!--/*@thymesVar id="animal" type="com.greenfox.vik.model.BankAccount"*/-->

  <span th:each="animal : ${list}">
    <p th:text="'Name: ' + ${animal.getName()} +
   ' Balance: ' + ${#numbers.formatDecimal(animal.getBalance(), 0, 2)} + ' Zebra' +
   ' Animal Type: ' + ${animal.getAnimalType()}"></p>
  </span>

</body>
</html>