<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>ToDo CRUD App</title>
  <link rel="stylesheet" th:href="@{/style.css}" type="text/css" />
</head>
<body>

<h1>Add new todo</h1>
<!--/*@thymesVar id="todo" type="com.greenfox.model.Todo"*/-->
<form th:action="@{/todo/addTodo}" method="post">
  <span>To do:</span>
  <input type="text" name="title" th:value="${title}"/>
  <span>The task is urgent?</span>
  <input type="checkbox" name="isUrgent" th:checked="${isUrgent}"/>
  <p></p>
  <input type="submit" value="Submit"/>
</form>
<form th:action="@{/todo/}">
  <input type="submit" value="Back"/>
</form>

</body>
</html>