<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>ToDo CRUD App</title>
</head>
<body>

<h1>Edit todo</h1>

<!--/*@thymesVar id="todo" type="com.greenfox.model.Todo"*/-->
<table>
  <h4>Edit To Do:</h4>
  <form th:action="@{/todo/save}" method="post" th:object="${todo}">
    <div><input type="hidden"  th:field="*{id}"/></div>
    <div><input type="text" name="title" th:value="*{title}" required="required"/> Update description</div>
    <div><input type="checkbox" name="isDone" th:checked="*{done}"/>Done</div>
    <div><input type="checkbox" name="isUrgent" th:checked="*{urgent}"/>Urgent</div>
    <input type="submit"/>
  </form>
  <form th:action="@{/todo/}">
    <input type="submit" value="Back"/>
  </form>
</table>
</body>
</html>