<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>ToDo CRUD App</title>
</head>
<body>

  <h1>ToDos for today:</h1>
  <table>
    <tr>
      <td>ID</td>
      <td>ACTION</td>
      <td>DONE</td>
      <td>URGENT</td>
    </tr>
    <tr th:each="todo : ${todos}">
      <!--/*@thymesVar id="todo" type="com.greenfox.model.Todo"*/-->
      <td th:text="${todo.id}" th:style="'border: 1px solid black;'"></td>
      <td th:text="${todo.title}" th:style="'border: 1px solid black;'"></td>
      <td th:text="${todo.isDone() == true} ? 'true' : 'false'" th:style="'border: 1px solid black;'"></td>
      <td th:text="${todo.isUrgent() == true} ? 'true' : 'false'" th:style="'border: 1px solid black;'"></td>
    </tr>
  </table>
</body>
</html>