<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Calorie Table</title>
  <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h1 class="text-center">Edit meal</h1>
        <!--/*@thymesVar id="meal" type="com.greenfox.model.Meal"*/-->
        <form th:action="@{/edit}" method="post" th:object="${meal}">
          <table>
            <tr>
              <td>Date</td>
              <td>Type</td>
              <td>Description</td>
              <td>Calories</td>
            </tr>
            <tr>
              <div><input type="hidden" th:field="*{id}"/></div>
              <td>
                <div><input type="date" th:field="*{time}"/></div>
              </td>
              <td>
                <select th:field="*{type}">
                  <!--/*@thymesVar id="typeList" type="java.util.List<com.greenfox.model.Type>"*/-->
                  <option th:each="typeElement : ${typeList}"
                          th:value="${typeElement.getType()}"
                          th:text="${typeElement.getType()}">
                  </option>
                </select>
              </td>
              <td>
                <input type="text" th:field="*{description}"/>
              </td>
              <td>
                <input type="number" th:field="*{calorie}"/>
              </td>
              <td>
                <input type="submit" class="btn btn-primary" value="Submit"/>
              </td>
              <td>
                <a th:href="@{/}" class="btn btn-warning">cancel</a>
              </td>
            </tr>
            <tr>
              <td>
                <div th:if="${#fields.hasErrors('time')}"
                     th:errors="*{time}"></div>
              </td>
              <td></td>
              <td>
                <p th:if="${#fields.hasErrors('description')}"
                   th:errors="*{description}"></p>
              </td>
              <td>
                <p th:if="${#fields.hasErrors('calorie')}"
                   th:errors="*{calorie}"></p>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>

  <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
  <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>